{% extends 'base/base.html' %}
{% load static %}

{% block content %}
        <div class="container section">
            <div class="row main-content">
                <div class="col-md-12 image">
                    <img src="{% static 'image/kendala-sepulsa.jpg' %}">
                </div>
                <div class="col-md-6 col-sm-12">
                    <span>September 25, 2018</span>
                </div>
                <div class="col-md-6 col-sm-12 comment">
                    <span>0 Comments</span>
                </div>
                <div class="col-md-12">
                    <h3>Punya Kendala? Segera Hubungi Customer Service Sepulsa</h3>
                </div>
                <div class="col-md-12">
                    <p>Bagi sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan transaksi di sepulsa. Umumnya pelanggan sepulsa menghadapi kendala sebagai berikut: Status order Pending. Jika transaksi pembayaran sudah selesai, namun status order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer Service dengan menyertakan email ...</p>
                </div>
                <div class="col-md-12">
                    <a href="#">Baca Selengkapnya</a>
                </div>
            </div>
            <div class="row main-content">
                <div class="col-md-12 image">
                    <img src="{% static 'image/sms.png' %}">
                </div>
                <div class="col-md-6 col-sm-12">
                    <span>August 14, 2018</span>
                </div>
                <div class="col-md-6 col-sm-12 comment">
                    <span>0 Comments</span>
                </div>
                <div class="col-md-12">
                    <h3>OTP, Si Kode Rahasia nan Bahaya</h3>
                </div>
                <div class="col-md-12">
                    <p>Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online. Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah. Sebelum kita membahas lebih ...</p>
                </div>
                <div class="col-md-12">
                    <a href="#">Baca Selengkapnya</a>
                </div>
            </div>
        </div>
{% endblock %}