{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Mentee - Alpha Tech Academy</title>
{% endblock %}

{% block content %}
        <div class="container section mentee">
            <div class="row">
                <div class="col-md-12 title-mentee">
                    <h4>Our Mentee</h4>
                </div>
            </div>
            {% for mentee in mentees %}
            <div class="row mentee-content">
                <div class="col-md-4 col-sm-6 people">
                    <img src="../static/image/{{mentee.foto}}">
                </div>
                <div class="col-md-8 col-sm-6">
                    <h5>{{ mentee.nama_lengkap }}</h5>
                    <span>"{{ mentee.kesan }}"</span>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}