{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Author - Alpha Tech Academy</title>
{% endblock %}

{% block content %}
        <div class="container section author">
            <div class="row main-content">
                <div class="col-md-12">
                    <div class="image">
                        <img src="{% static 'image/profile-pic2.jpg' %}">
                    </div>
                    <h3>Dinda Kartika Vilaili</h3>
                    <p><strong>Dinda Kartika Vilaili</strong>, bisa dipanggil Dinda merupakan mentee pada Alpha Tech Academy Batch 2. Pecinta buku, kopi, dan hujan.</p>
                    <span>Alamat : Jl. S. Supriyadi VIII/28</span>
                    <br>
                    <span>Telepon : 0823 3254 7522</span>
                    <br>
                    <span>Education : S1 Teknik Elektro ITS</span>
                    <br>
                    <span>Profession : Trainee Alpha Tech Academy</span>
                    <br>
                    <span>Nationality : Indonesia</span>
                    <br>
                    <span>Company : Alterra</span>
                    <br>
                    <span>Email : dinda@alphatech.id</span>
                    <br>
                    <br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.7527889668247!2d112.61889799999999!3d-7.99778399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882a9f630d4d1%3A0xb6d0d2bd6c783ec8!2sJl.S.Supriadi+No.70+B%2C+Sukun%2C+Kota+Malang%2C+Jawa+Timur+65147!5e0!3m2!1sen!2sid!4v1549981310998" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
{% endblock %}