{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <link rel = "stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel = "stylesheet" href="{% static 'css/katalog.css' %}">
        {% block title %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="container-fluid">
                <div class="row menu">
                    <div class="col-lg-2 col-md-2 col-sm-3 companies">
                        <span class="company">Toko Online</span>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-9 menus">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>