{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Details</title>
{% endblock %}

{% block content %}
        <div class="container section details">
            <div class="row main-content">
                <div class="col-md-12 ">
                    <div class="detail">
                        <img src="{{post.gambar.url}}">
                        <br>
                        <span class="konten">{{post.nama}}</span>
                        <br>
                        <span style="color: greenyellow" class="konten">Rp {{post.harga}},00</span>
                        <br>
                        <span class="konten"><strong>Detail:</strong></span>
                        <br>
                        <span class="konten">{{post.keterangan}}</span>
                        <br>
                        <a href="{% url 'blog' %}" class="konten">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}