{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Blog - Alpha Tech Academy</title>
{% endblock %}

{% block content %}
        <div class="container section">
            {% for post in posts}
            <div class="row main-content">
                <div class="col-md-12 image">
                    <img src="../static/image/{{post.image}}">
                </div>
                <div class="col-md-6 col-sm-12">
                    <span>{{post.tanggal}}</span>
                </div>
                <div class="col-md-6 col-sm-12 comment">
                    <span>{{post.comment}} Comments</span>
                </div>
                <div class="col-md-12">
                    <h3>{{post.judul}}</h3>
                </div>
                <div class="col-md-12">
                    <p>{{post.konten}}</p>
                </div>
                <div class="col-md-12">
                    <a href="#">Baca Selengkapnya</a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}